#sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#chef {
    width: 500px;           
    height: auto;
}

 .section-titulo, 
 .section-subtitulo {
    display: flex;
}

#sobre .section-subtitulo {
    font-size: 20px;
}

@media screen and (max-width: 1152px) {
    #sobre {
        flex-direction: column;
    }

    #txt_sobre h3{
        text-align: center;
    }

    #chef {
        width: 350px;
        flex-direction: column;
    }

    .section-titulo .section-subtitulo{
        display: flex;
        align-items: center; 
        margin-right: 50%;
        
    }
}

